.container {
  width: 70%;
  margin: auto;
  text-align: center;
  display: block;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  /* width: 200px;
   height: 300px; */
   /* display: t; */
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
button{
  width: 200px;
  /* margin-bottom: 100px; */
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  font-size: 30px;
  border-radius: 29px;
  border: none;
  height: 100px;
  background: #4ECCA3;

}